<nz-card [nzBordered]="false">
  <div nz-row>
      <div nz-col [nzXs]="24" [nzSm]="6" class="header-info">
          <p class="text-grey-dark">全部文章</p>
          <p class="display-2">8篇</p>
          <em></em>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="6" class="header-info">
          <p class="text-grey-dark">分类</p>
          <p class="display-2">32分钟</p>
          <em></em>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="6" class="header-info">
          <p class="text-grey-dark">标签</p>
          <p class="display-2">24个任务</p>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="6" class="header-info">
          <p class="text-grey-dark">评论</p>
          <p class="display-2">24个任务</p>
      </div>
  </div>
</nz-card>