<pro-header [title]="detail.title || model.title">
    <ng-template #action>
			<button nz-button [nzType]="'primary'" [nzSize]="'large'" [nzLoading]="loading" (click)="submit()">{{ createMode ? '提交' : '保存' }}</button>
			<nz-dropdown class="mx-sm">
					<button nz-button nz-dropdown [nzSize]="'large'">发布</button>
					<ul nz-menu>
						<li nz-menu-item (click)="publish('1')">直接发布</li>
						<li nz-menu-item (click)="publish('0')">保存草稿</li>
					</ul>
			</nz-dropdown>
    </ng-template>
    <ng-template #content>
			<nz-tag [nzColor]="detail.state == 1 ? 'green' : 'orange'">{{ detail.state == 1 ? '已发布' : '未发布' }}</nz-tag>
			<p class="description mt-md" *ngIf="detail.description">{{ detail.description }}</p>
    </ng-template>
</pro-header>
<div nz-row [nzGutter]="16">
	<div nz-col [nzMd]="16">
		<nz-card [nzBordered]="false" class="mb-md" [nzTitle]="'基本信息'">
			<form nz-form>
				<div nz-form-item nz-row>
						<div nz-form-label nz-col [nzSm]="3">
								<label>
										链接
										<a [href]="detail.permalink" target="_blank">
											<i class="anticon anticon-link"></i>
										</a>
								</label>
						</div>
						<div nz-form-control nz-col [nzSm]="18">
								<span nz-form-text>{{ detail.permalink || '暂无' }}</span>
						</div>
				</div>
				<div nz-form-item nz-row>
					<div nz-form-label nz-col [nzSm]="3">
							<label for="label-focus" nz-form-item-required>标题</label>
					</div>
					<div nz-form-control nz-col [nzSm]="18">
							<nz-input name="title" [nzId]="'label-focus'" [nzPlaceHolder]="'请输入标题'" [(ngModel)]="model.title"></nz-input>
					</div>
				</div>
				<div nz-form-item nz-row>
					<div nz-form-label nz-col [nzSm]="3">
							<label for="label-focus">关键词</label>
					</div>
					<div nz-form-control nz-col [nzSm]="18">
							<nz-select
								name="keywords"
								nzTags
								[nzPlaceHolder]="'请输入关键词'"
								[(ngModel)]="model.keywords"
								[nzNotFoundContent]="'找不到关键词'"
								[nzShowSearch]="false"
								style="min-width: 200px;">
								<nz-option
									*ngFor="let keyword of detail.keywords"
									[nzLabel]="keyword"
									[nzValue]="keyword">
								</nz-option>
							</nz-select>
					</div>
				</div>
				<div nz-form-item nz-row>
					<div nz-form-label nz-col [nzSm]="3">
							<label for="label-focus">简介</label>
					</div>
					<div nz-form-control nz-col [nzSm]="18">
							<nz-input name="description" [(ngModel)]="model.description" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'请输入简介'"></nz-input>
					</div>
				</div>
				<div nz-form-item nz-row>
					<div nz-form-label nz-col [nzSm]="3">
							<label for="label-focus">内容</label>
					</div>
					<div nz-form-control nz-col [nzSm]="18">
							<nz-input name="content" [(ngModel)]="model.content" [nzType]="'textarea'" [nzAutosize]="{ minRows: 40, maxRows: 80 }" [nzPlaceHolder]="'请输入内容'"></nz-input>
					</div>
				</div>
			</form>
		</nz-card>
	</div>
	<div nz-col [nzMd]="8">
			<nz-card [nzBordered]="false" [nzTitle]="'分类目录'" class="mb-md">
				<!-- <span class="category-item" [class.selected]="category.selected" *ngFor="let category of categoryList; let idx = index" (click)="categoryChange(idx)">
					<i class="icon" :class="[`icon-${category.icon}`]" *ngIf="category.icon"></i>
					<span class="name">{{ category.name }}</span>
				</span> -->
				<nz-checkable-tag *ngFor="let category of categoryList; let idx = index" [nzChecked]="category.selected" (nzChange)="categoryChange(idx)">{{category.name}}</nz-checkable-tag>
			</nz-card>
			<nz-card [nzBordered]="false" [nzTitle]="'标签目录'" class="mb-md">
					<nz-checkable-tag *ngFor="let tag of tagList; let idx = index" [nzChecked]="tag.selected" (nzChange)="tagSelect($event, idx)">{{tag.name}}</nz-checkable-tag>
			</nz-card>
			<nz-card [nzBordered]="false" [nzTitle]="'缩略图'" class="mb-md">
				<app-uploader [url]="model.thumb" [title]="'缩略图'" [name]="uploadName" (onUpload)="updateThumb($event)"></app-uploader>
			</nz-card>
	</div>
</div>
